.chat
  .chat__group
    .chat__group--leftbox
      .chat__group--leftbox--title
        test
      .chat__group--leftbox--members
        memberlist :
        .chat__group--leftbox--members--member
          masahirokurauchi
    .chat__group--btn
      = link_to "Edit", "#", class: "chat__group--btn--link"

  .chat__message-list
    .chat__message-list--box
      .chat__message-list--box--name
        masa
      .chat__message-list--box--date
        2020/04/23
      .chat__message-list--box--text
        もう少し！
    .chat__message-list--box
      .chat__message-list--box--name
        masa
      .chat__message-list--box--date
        2020/04/23
      .chat__message-list--box--text
        もう少し！
    .chat__message-list--box
      .chat__message-list--box--name
        masa
      .chat__message-list--box--date
        2020/04/23
      .chat__message-list--box--text
        もう少し！

  .chat__message-form
    .chat__message-form--leftbox 
      %input.chat__message-form--leftbox--text{placeholder: "type a message", type: "text"}
      %label.image-icon
        = icon('far', 'image')
        %input.image-btn{type: "file"}
    %input.chat__message-form--rightbtn{type: "submit", value: "Send"}
